
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    font-family: "Raleway", sans-serif;
}

:root{
    --bleue: #00bbfe;
    --gris: #ecf0f1;
    --withe: #fff;
    --grey: #f1f0f6;
    --dark-grey : #8D8D8D;
    --dark: #000;
    --green: #04af51;
    --light-bleue: #1775F1;
    --dark-bleu: #0C5FCD;
}


input,
button {
    border: none;
    outline: none;
}

.container {
    max-width: 1400px;
    margin-inline: 1.5rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
    z-index: 1000;
}


.nav{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    list-style: none;
}

.nav-link{
    color: var(--bleue);
    font-weight: 600;
    transition: color .4s;
}

@media screen and (max-width:1023px){
    .nav-menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--bleue);
        box-shadow: 0 8px 16px hsla(230, 75%, 32%, .15) ;
        width: 100%;
        padding-block: 4.5rem 4rem;
        transition: top .4s;
    }
}

.nav-list{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    text-align: center;
}

@media screen and (min-width:1023px){
    .nav{
        height: calc(var(--dark-grey) + 2rem);
        column-gap: 3rem;
    }
}


.nav-menu{
    margin-left: auto;
}

.nav-list{
    flex-direction: row;
    column-gap: 1rem;
    margin-top: 2.5%;
}

@media screen and (min-width:1150px){
    .container{
        margin-inline: auto;
    }
}

.action{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
    
}

.titre {
    margin-right: 40px;
}

.hero-text {
    position: absolute;
    text-align: center;
    color: white; 
    font-size: 1.8rem;
    font-weight: bold;
    width: 80%;
    top: 30%;
}

.toggle{
    font-size: 1.2rem;
    cursor: pointer;
    transition: color .4s;
}


.nav-logo img{
    height: 80px;
    width: 90px;
}


.main {
    width: 100%;
}

/* #presence {
    position: absolute;
    bottom: 80px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #8725c9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

.login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(230, 75%, 32%, .1);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    padding: 8rem 1.5rem 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
}

.login-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    color: #5976f3;
    cursor: pointer;
}

.login-form,
.login-group {
    display: grid;
}


.login-form {
    background-color: white;
    padding: 2rem 1.5rem 2.5rem;
    box-shadow: 0 8px 32px hsla(230, 75%, 32%, .2);
    border-radius: 1rem;
    row-gap: 1.25rem;
    text-align: center;
    transform: translateY(-1rem);
    transition: transform .4s;
}

.login-title {
    font-size: 26px;
    color: rgb(32, 32, 32);
}

.login-group{
    row-gap: 1rem;
}

.login-label {
    display: block;
    text-align: initial;
    color: #262728;
    font-weight: 200;
    margin-bottom: .25rem;
}

.login-input {
    width: 100%;
    background-color: white;
    border: 2px solid rgb(200, 196, 196);
    padding: 1rem;
    border-radius: .5rem;
}

.login-button {
    display: inline-block;
    background-color: #5976f3;
    width: 100%;
    color: #fff;
    font-weight: 700;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: box-shadow .4s;
}

.login-button:hover {
    box-shadow: 0 4px 24px hsla(230, 75%, 40%, .4);
}

.show-login {
    opacity: 1;
    pointer-events: initial;
}

.show-login .login-form {
    transform: translateY(0);
}

@media  screen and (min-width: 576px) {
    .login {
        padding-top: 10rem;
    }

    .login-form {
        max-width: 400px;
        margin-inline: auto;
    }

    .login-close {
        width: max-content;
        top: 5rem;
        left: 0;
        right: 0;
        margin-inline: auto;
        font-size: 2rem;
    }
}

h3 {
    margin-top: 300px;
    text-align: center;
}

.p {
    margin-top: 110px;
    margin-left: 20px;
}

h5 {
    margin-top: 50px;
    text-align: center;
}

.principal section{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    max-width: 1550px; 
}

.principal .info-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.principal .info-data .card{
    padding: 20px;
    height: 100px;
    width: 480px;
    border-radius: 10px;
    background: var(--withe);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    cursor: pointer;
    border-left: 5px solid var(--light-bleue);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.principal .card .head{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.table-container {
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
}